[Desktop Entry]
Version=1.0
Type=Application
Name=Panoply Data Viewer
Exec=/home/jovyan/PanoplyJ/panoply.sh
Icon=/home/jovyan/PanoplyJ/panoply-app-icon.png
